* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #1d2671, #c33764);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
